<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.fittree" >

    <!-- Permissions -->
    <uses-permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="FitGoal+"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PhoneMainActivity"
            android:label="FitGoal+" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".PhoneMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PhoneMainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAQ4MVZjUN_or6QaZ-qt52mz4fueKekFQY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".PhoneMainActivity"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/title_activity_preference"
            android:parentActivityName=".PhoneMainActivity"
            android:theme="@android:style/Theme.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".PhoneMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />
        </activity>
        <activity
            android:name=".routeActivity"
            android:label="@string/title_activity_route"
            android:parentActivityName=".PhoneMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />
        </activity>
        <activity
            android:name=".FitnessActivity"
            android:label="@string/title_activity_fitness"
            android:parentActivityName=".PhoneMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />
        </activity>
        <activity
            android:name=".environmentalAct"
            android:label="@string/title_activity_environmental"
            android:parentActivityName=".PhoneMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.fittree.PhoneMainActivity" />
        </activity>
    </application>

</manifest>
